    <widget  >
        <name>S/C servicios</name>
        <description>
            aplicacion de servicios 
        </description>
        <author email="mdilimar@hotmail.com" >
         dilimar manrique 
        </author>
        <content src="www/index.html" />
        <access origin="*" />
    </widget>
