    <widget version="0.0.1">
        <name>S/C servicios</name>
        <description>
            aplicacion de servicios 
        </description>
        <author email="mdilimar@hotmail.com" >
         dilimar manrique 
        </author>
        <content src="www/index.html" />
        <access origin="192.168.1.105/appserviciosdb" />
    </widget>
